:root {
  --pixel-size: 10;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffeeee;
}

.mainpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.mainbody {
  margin: 0;
  min-height: 100vh;
}

.card {
  padding: 2em;
}

@media only screen and (max-width: 768px) {
  .mainpage {
    display: block;
  }
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.h1, h2 {
  color: #ea5e4e;
  font-family: 'Pixelify Sans', sans-serif;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.75em;
}

.flex-container {
  display: flex;
}

.text-container {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  overflow: hidden; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  margin-top: 5px;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: box-shadow .8s ease, background .8s ease, color .8s ease;
}

.button:hover {
  box-shadow: inset 0 0 0 0 currentcolor;
  background: #e55743;
  color: white;
  border-radius: 10px;
}

.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform .8s ease;
  will-change: transform;

  &::before {
    content: '';
    position: absolute;
    border: inherit;
  }
}

.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;

  &::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
}

.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;

  &::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
}

.button:hover .button__horizontal {
  transform: scaleX(0);
}

.button:hover .button__vertical {
  transform: scaleY(0);
}

body {
  margin: 0;
}