.Character {
    width: calc(8px * var(--pixel-size));
    height: calc(8px * var(--pixel-size));
    position: absolute;
    margin: 0;
    overflow: hidden;
    z-index: 2;
}

.Character_spritesheet {
    animation: moveSpritesheet 1s steps(12) infinite;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}
