.form-container {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #e55743;
    background: #fff5f5;
}

.form-content {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name-fields {
    display: flex;
    gap: 10px;
}

.name-field {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
}

.message {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-sizing: border-box;
    max-height: 300px; 
    overflow-y: auto; 
    resize: none;
    height: 300px; 
}

button:hover {background-color: #c9402c;
}

.button {
    grid-area: 1 / 4 / 2 / 13;
}

.rounded {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .form-container {
        width: 90vw
    }

    .message {
        height: 200px;
    }
}