* {
  box-sizing: border-box;
}

:root::-webkit-scrollbar {
  width: 12px;
}

:root::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: whitesmoke;
  border: 1px solid rgb(255, 255, 255);
}

:root::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgb(189, 189, 189);
  background-color: #f5715f;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

.text-change {
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: smaller;
}

h1 {
  font-size: 6em;
  line-height: 1.1;
}

body {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur271.cur), auto !important;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}