.pro-pic {
    max-width: 50%;
    height: auto;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.container-about {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #e55743;
    background: #fff5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro_buttons a img {
    width: 50px; 
    height: 50px; 
    color: #e55743;
}


@media (max-width: 768px) {
    .container-about {
        width: 90vw;
        align-items: center;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .pro-pic {
        width: 80%;
        margin-top: 15px;
        border-radius: 30%;
        background-color: rgb(255, 213, 213);
    }

    .intro-desc {
        text-align: center;
    }

    .h1 {
        font-size: 2em;
        padding: 0;
    }

    .button {
        padding: 8px 16px;
    }

    .intro_buttons {
        flex-direction: row;
        gap: 10px;
    }
}

