.npc {
    font-size: .75vw;
    font-family: menlo;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #fff5f5;
    border: 5px solid #e55743;
    border-radius: 8px;
    width: 80%;
    padding: 1.25vw;
}

.npc .npc-name {
    text-align: center;
    align-items: center;
    font-size: 1.25vw;
    color: whitesmoke;
    margin: 0;
    background-color: #e55743;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.729);
    height: 100%
}

.npc .npc-image {
    text-align: center;
    align-items: center;
    height: 100%
}

.npc .npc-image-and-name {
    object-fit: cover;
    width: 100%;

}

.npc .npc-body {
    grid-area: 1 / 2 ;
    display: grid;
    grid-template-rows: auto 15px; 
    border-radius: 8px;
    height: auto; 
    width: 100%;
    max-width: 600px; 
    position: relative;
    overflow-wrap: break-word;
    padding: 15px;
}

.npc .npc-body .start {
    cursor: pointer;
    width: 3vw;
    height: auto;
    grid-area: 2/1;
    justify-self: end;
}

.empty-area {
    height: inherit;
    padding-bottom: 10px;
}


@media only screen and (max-width: 430px) {
    .npc {
        font-family: Arial, Helvetica, sans-serif;
        width: 95%;
        padding: 1px;
        font-size: 7px;
        font-family: menlo;
    }

    .npc .npc-name {
        text-align: center;
        font-size: 9px;
        color: whitesmoke;
        margin: 0;
        align-items: center;
        background-color: #e55743;
        border: 1px solid whitesmoke;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.729);
        height: 100%;
        height: 10%
    }

    .npc .npc-image {
        height: 50%
    }

    .npc .npc-body {
        padding-bottom: 10px;
        max-width: none; 
        width: 100%; 
        margin-bottom: 3px;
    }

    .npc .npc-body .start {
        width: auto;
        height: 100%;
    }
}


@media only screen and (max-width: 360px) {
    .npc {
        font-family: Arial, Helvetica, sans-serif;
        width: 95%;
        padding: 1px;
        font-size: 6px;
        font-family: menlo;
    }

    .npc .npc-name {
        text-align: center;
        font-size: 9px;
        color: whitesmoke;
        margin: 0;
        align-items: center;
        background-color: #e55743;
        border: 1px solid whitesmoke;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.729);
        height: 100%;
        height: 10%
    }

    .npc .npc-image {
        height: 50%
    }

    .npc .npc-body {
        padding-bottom: 10px;
        padding-left: 10px;
        max-width: none; 
        width: 100%; 
        margin-bottom: 3px;
    }

    .npc .npc-body .start {
        width: auto;
        height: 100%;
    }
}


@media only screen and (max-width: 280px) {
    .npc {
        font-family: Arial, Helvetica, sans-serif;
        width: 95%;
        padding: 1px;
        font-size: 5px;
        border: 3px solid #e55743;
        font-family: menlo;
    }

    .npc .npc-name {
        text-align: center;
        font-size: 8px;
        color: whitesmoke;
        margin: 0;
        align-items: center;
        background-color: #e55743;
        border: 1px solid whitesmoke;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.729);
        height: 100%;
        height: 10%
    }

    .npc .npc-image {
        height: 50%
    }

    .npc .npc-body {
        padding-bottom: 1px;
        padding-left: 3px;
        max-width: none; 
        width: 100%; 
        margin-bottom: 3px;
    }

    .npc .npc-body .start {
        width: auto;
        height: 60%;
    }
}
