.project-container {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000000;
    background: #ea5e4e;
    overflow: hidden;
}

.project {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;
    padding-right: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; 
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.controller {
    display: grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(3, 35px);
    gap: 0px;
    justify-content: center;
    align-items: center;
}

.controller > div:nth-child(5) {
    background-color: rgb(34, 33, 33);
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.link {
    margin-right: 30px;
}

.link:last-child {
    margin-right: 0;
}

.up,
.left,
.middle,
.right,
.down {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(3, 35px);
    gap: 0px;
    justify-content: center;
    align-items: center;

    border: 5px solid #242121;
    border-radius: 50%;
    background-color: #6c6565;
}

.controller {
    display: contents; 

}

.proj-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px;
    justify-content: center;
    align-items: center;
}

.prnxt-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.prev,
.next {
    width: 75px;
    height: auto;
    cursor: pointer;
}

.empty-cell {
    width: 50px;
    height: 50px;
}

.bottom-desc {
    height: 50px;
    color: white;
    text-align: center;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: menlo;
    font-size: 12px;
}

.project-title-and-image {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 75px;
}

.circular-button {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    border: 2px solid black !important;
    grid-column: span 1;
    grid-row: span 1;
}

.project-button {
    width: 75px;
    height: auto;
}

.initial-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.885);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border: 2px solid black;
    border-radius: 8px;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #370507;
}

.proj-title {
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.project-description {
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.project-image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    background-color: black;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: transform 0.3s ease-in-out;
}

.project-image-container:hover .overlay {
    opacity: 1;
}

/* .project-image-container:hover .project-image {
    transform: scale(1.1);
} */

.tech-icon {
    width: 50px;
    height: 50px;
    margin: 0 10px; 
}


@media (max-width: 1000px) {
    .proj-title {
        font-size: 24px;
    }

    .prev,
    .next,
    .empty-cell,
    .circular-button,
    .project-button {
        width: 50px;
        height: auto;
    }
    .project-container {
        width: 80vw;
    }
    
    .project-image-container {
        width: 100%;
    }
    
    .proj-buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .project-button,
    .circular-button {
        width: 50px; 
        height: 50px; 
        margin: 5px; 
    }

    .controller {
        grid-template-columns: repeat(3, 25px);
        grid-template-rows: repeat(3, 25px);
    }

    .up,
    .left,
    .middle,
    .right,
    .down {
        width: 30px;
        height: 30px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 25px);
        grid-template-rows: repeat(3, 25px);
    }

    .up,
    .left,
    .middle,
    .right,.down {
        width: 30px;
        height: 30px;
    }    
    
    .project-title-and-image {
        grid-area: 1 / 1 / 2 / 10;
        margin-bottom: 10px;
    }
    
    .project-image-container {
        grid-area: 2 / 1 / 4 / 10;
    }
    
    .controller {
        grid-area: 4 / 1 / 6 / 2;
    }
    
    .proj-buttons {
        grid-area: 2 / 6 / 6 / 10;
    }

    .prnxt-buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-area: 3 / 3 / 6 / 5;
        margin-top: 10px;
    }
    .overlay {
        background: rgba(0, 0, 0, 0.885);
        padding: 10px;
    }

    .project-description {
        padding: 5px;
        font-size: 12px;
    }

    .icon-container {
        flex-wrap: wrap;
    }

    .tech-icon {
        width: 15px;
        height: 15px;
        margin: 2px;
    }

    .initial-intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
    }
}


@media (max-width: 768px) {
    .proj-title {
        font-size: 16px;
    }

    .prev,
    .next,
    .empty-cell,
    .circular-button,
    .project-button {
        width: 50px;
        height: auto;
    }
    .project-container {
        width: 90vw;
    }
    
    .project-image-container {
        width: 100%;
    }
    
    .proj-buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .project-button,
    .circular-button {
        width: 50px; 
        height: 50px; 
        margin: 5px; 
    }

    .controller {
        grid-template-columns: repeat(3, 25px);
        grid-template-rows: repeat(3, 25px);
    }

    .up,
    .left,
    .middle,
    .right,
    .down {
        width: 30px;
        height: 30px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 25px);
        grid-template-rows: repeat(3, 25px);
    }

    .up,
    .left,
    .middle,
    .right,.down {
        width: 30px;
        height: 30px;
    }    
    
    .project-title-and-image {
        grid-area: 1 / 1 / 2 / 10;
        margin-bottom: 10px;
    }
    
    .project-image-container {
        grid-area: 2 / 1 / 4 / 10;
    }
    
    .controller {
        grid-area: 4 / 1 / 6 / 2;
    }
    
    .proj-buttons {
        grid-area: 2 / 6 / 6 / 10;
    }

    .prnxt-buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-area: 3 / 3 / 6 / 5;
        margin-top: 10px;
    }
    .overlay {
        background: rgba(0, 0, 0, 0.885);
        padding: 10px;
    }

    .project-description {
        padding: 5px;
        font-size: 12px;
    }

    .icon-container {
        flex-wrap: wrap;
    }

    .tech-icon {
        width: 15px;
        height: 15px;
        margin: 2px;
    }

    .initial-intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75vw;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
    }

    .bottom-desc {
        height: 40px;
        color: white;
        text-align: center;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 8px;
    }
}

