.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px; 
    transition: left 0.3s ease-in-out;
    z-index: 3;
    text-align: center;
}

.sidebar .sidebar-item {
    color: #ea5e4e !important;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: smaller;
    cursor: pointer;
}

.sidebar .close-icon {
    color: #ea5e4e !important;
}

.menu-icon {
    color: #ea5e4e !important;
}

.sidebar.open {
    left: 0;
}

.upper-level {
    margin-bottom: 50px;
}

.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-size: 24px;
}

.sidebar-item {
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .sidebar-container {
        left: -100%;
        width: 100%;
    }
    .sidebar {
        left: -100%;
        width: 100%;
    }
}
