.skills-container {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #e55743;
    background: #fff5f5;
}

.skills-content {
    flex: 1;
    padding: 0 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.skills-carousel {
    width: 100%;
}

.carousel-item {
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.custom-skill-item {
    margin: 0 5px;
    flex: 1;
}

.custom-skill-item img {
    width: 50px;
    height: 50px;
}

.custom-skill-item p {
    margin-top: 10px;
    font-size: 12px;
}

.expanded-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.expanded-skills .custom-skill-item {
    margin: 0 10px 20px;
    text-align: center;
}

.expanded-skills .custom-skill-item img {
    width: 50px;
    height: 50px;
}

.expanded-skills .custom-skill-item p {
    margin-top: 10px;
}

.skills-desc {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}


@media (max-width: 767px) {
    .skills-container {
        width: 90vw;
    }
    
    .skills-content {
        width: 100%;
        padding: 0 5px;
        font-size: 80%;
    }

    .carousel-item {
        margin-right: 10px;
        justify-content: center;
    }

    .custom-skill-item img {
        width: 30px;
        height: 30px;
    }

    .custom-skill-item p {
        margin-top: 5px;
    }
}