.soc {
    gap: 10px;
    margin-bottom: 30px;
    list-style: none;
    width: 100%;
    text-align: center;
}

.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
    z-index: 0;
}

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.gitlab span {
    background-color: #fc6d26;
}

.linkedin span {
    background-color: #0077b5;
}

.github span {
    background-color: #333;
}

.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .fa-linkedin {
    color: #0077b5;
}

.icon-button .fa-gitlab {
    color: #fc6d26;
    font-size: 2.0rem;
}

.icon-button .fa-github {
    color: #333;
}

.icon-button:hover .fa-gitlab,
.icon-button:hover .fa-linkedin,
.icon-button:hover .fa-github {
    color: white;
}
